<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Talent Solution</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  </head>
  <body style="text-align: center;">
    <h1>This is the plan B page</h1>
    <embed src="/uploads/{{fileName}}" width="800vh" height="1200px">
    {{!-- We could use the same body as the index.hbs page --}}
    {{!-- using the {{{body}}}, you remember it right ?--}}
  </body>
</html>